{% load static %}
    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__ball"></div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
<body>
	<div class="top-bar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="left-top">
						<div class="email-box">
							<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> admin@zovit.pro</a>
						</div>
						<div class="phone-box">
							<a href="tel:89042133738"><i class="fa fa-phone" aria-hidden="true"></i> +7(904)213-37-38</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="right-top">
						<div class="social-box">
							<ul>
								<li><a href="#"><img src="{% static 'img/login2.png' %}" alt="image"></a></li>
{#								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>#}
{#								<li><a href="#"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>#}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'zovit:home' %}"><img src="{% static 'img/logo.png' %}" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% url 'zovit:home' as home %}
                        {% url 'zovit:contact' as contact %}
                        {% url 'blog:post_list' as post_list %}
                        <li><a {% if request.get_full_path == home%}class="active"{% endif %} href="{% url 'zovit:home' %}">Главная</a></li>
                        <li><a {% if request.get_full_path == post_list%}class="active"{% endif %} href="{% url 'blog:post_list' %}">Блог</a></li>
                        <li><a href="services.html">Наши сервисы</a></li>
                        <li><a href="portfolio.html">Оркестратор</a></li>
{#                        <li><a href="features.html">Features</a></li>#}
{#                        <li><a href="testimonials.html">Testimonials</a></li>#}
                        <li><a href="pricing.html">Цены</a></li>
                        <li><a {% if request.get_full_path == contact%}class="active"{% endif %} href="{% url 'zovit:contact' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
